<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <%- include('../partial/head'); %>
  </head>
  <body>
    <%- include('../partial/nav'); %>
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-8 mx-auto"></div>
        <div class="card">
          <div class="card-body">
            <div class="card-title">User Profile</div>
            
        </div>
      </div>
    </div>
  </body>
</html>
